@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap&family=Pixelify+Sans&display=swap');
@import 'tailwindcss';

/* tailwind config */

@theme {
    --font-mplus: 'M PLUS 1', 'sans-serif';
    --font-pixel: 'Pixelify Sans'
    
}

html {
    scroll-behavior: smooth;
  }


